<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/style.css">
	<meta charset="UTF-8">
	<title>Les types de licence</title>
</head>

<body>
	<!--division qui va charger la page header.html -->
	<div th:replace="fragments/header :: header"></div>

	<div class="conteneur-global">
		<h3>Les types de licence</h3>
		<table>
			<thead>
				<tr>
					<th>Cat&eacute;gorie Licence</th>
					<th>Montant Licence</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="typelicence : ${typelicences}">
					<td th:text="${typelicence.categorieLicence}" />
					<td th:text="${typelicence.montantLicence}" />
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>